.weatherInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    width: fit-content;
    height: fit-content;
    margin: 20px;
}

.info-container {
    margin: 10px;
    display: flex;
}

h2{
    font-size: 1.6em;
    margin: 0;
}
p{
    font-size: 1em;
    margin: 0;

}

.data-box {
    margin: 10px;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}